<h1>Projects</h1>



<% @projects.each do |project| %>
 <div class="project"> 
    <h4><%= project.name %></h4>
    <%= link_to (image_tag project.images.find(:first).image_url(:thumb).to_s), project %>
	<% if user_signed_in? %>
	<br />
    <%= link_to 'Edit', edit_project_path(project) %>
    <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
  </div>
<% end %>


<br />
<br />
<% if user_signed_in? %>
<%= link_to 'New Project', new_project_path %>
<% end %>